:root {
    --deep-dark: #202020;
    --light-dark: #7a7a7a;
    --teal: #008080;
    --light-teal: #04d5d5;
    --off-white:#f0f0f0;
    --hover-shadow:  #00f9f987;
    --wisteria: #8e44ad;
    }
